body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
    /** 
    background-image: linear-gradient(hsl(120, 100%, 8%), hsl(44, 100%, 7%));
    color: antiquewhite;
    **/
}

a {
    font-weight: 400;
    font-size: 15px;
}

h1{
    background-color: rgb(27, 5, 0);
    color:rgb(255, 166, 0)
}

img{
    width: 350px;
    height: auto;
}
